$button-bg-color: #263238;
$skils-bg-color: #f5f5f5;
$title-black: #000000;
$card-title-color: #263238;
$text-color: #8f95a5;
$number-color: #2a3246;

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 575px;
$xs: 320px;

// @include lg {

// }

// @include md {
// }

// @include sm {
// }
// @include xs {
// }
